*{

margin: 0;
padding: 0;
font-family: century gothic;


}
.container{
    
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #010101;

}
.title{
    position: absolute;
  font-size: 40px;
  top: 10%;
  color: #fff;
  left: 30%;
  

}
#image1{

background-image: url(bedimage/a.jpg);

}
#image2{

    background-image: url(bedimage/b.jpg);
    
    }

#image3{

 background-image: url(bedimage/c.jpg);
        
        }
 #image4{
  background-image: url(bedimage/d.jpg);
            
   }
 #image5{

 background-image: url(bedimage/e.jpg);
                
  }
 #image6{

 background-image: url(bedimage/f.jpg);
                    
    }
  #image7{

  background-image: url(bedimage/i.jpg);
                           
   }
#image8{

    background-image: url(bedimage/j.jpg);
                       
     }
 #image9{

 background-image: url(bedimage/h.jpg);
                           
  }
  #image10{

    background-image: url(bedimage/k.jpg);
                       
       }